
* {
    margin: 5px;
    border-radius: 5px;
}
header > h2 {
    background-color: red;
}
header > ul {
    background-color: black;
    color: aliceblue;
}
main {
    background-color: aqua;
}
footer {
    background-color:azure;
    
}
footer > div:first-child {
    background-color: aquamarine;
}

footer > div:nth-last-child(1) {
    background-color: rgb(133, 255, 127);
}
footer h2 {
    background-color: rgb(157, 103, 10);
}
button {
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(230, 0, 255);
}
.RegNo {
    background-color: blueviolet;
}
#Branch {
    background-color: midnightblue;
}
#Name {
    background-color: antiquewhite;
}
#Password {
    background-color: brown;
}
#PassingYear {
    background-color: rgb(98, 0, 255);
}