.footer {
  display: grid;
  gap: 20px;
  bottom: 0px;
  padding: 15px;
  height: 200px;
  color: white;
  position: relative;
  background-color: rgb(198, 198, 198);
  grid-template-columns: repeat(4, 1fr);
}

li {
  display: flex;
  gap: 10px;
}