header {
    display: flex;
  color: white;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}

nav {
  display: flex;
  font-size: 18px;
  gap: 15px;
}

.navbrand {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

nav > a {
  color: white;
  text-decoration: none;
}

.logout-btn {
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: orange;
}